/** -- FONTS & VARIABLES ---- */
@font-face {
    font-family: 'DarkForest';
    src: url('../assets/dark_forest/darkforest.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {

    /**------------[colors]----------*/

    /*background*/
    --font-main: 'DarkForest', sans-serif;
    --color-primary-blue--bg---dark: #152036;
    --color-primary-blue--bg---medium: #2B305F;
    --color-primary-blue--bg---light: #3A5078;
    --color-primary-white--bg: #F4F4F8;
    --color-accent-blue--bg: #3498db;
    --color-accent-grey--bg:  rgb(232, 232, 232);

    /*text*/
    --color-primary-white--text---main: #F5F7FA;
    --color-primary-white--text---alt: #ffffff;
    --color-primary-white--text---light: #F7FFF6;

    /*border*/
    --color-primary-white--border--bright: whitesmoke;
    --color-primary-grey--border---light: #f3f3f3;
    --color-primary-white--border--accent: rgba(255, 255, 255, 0.85);
 

    /**-------[Spatiëring ]-----------*/
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-smd: 10px;
    --spacing-md: 16px;
    --spacing-lg: 24px;

    /*letter-space*/
    --space-letter-lg: 0.08em;
    --space-letter-xlg: 0.10em;
    
    /**-----------[ Typografie ]---------*/
    --font-size-base: clamp(16px, 1.2vw, 20px);
    --font-size-label: clamp(15px, 1.1vw, 18px);
    --font-size-h2: clamp(18px, 2vw, 24px);


    /**-------------[ Borders ]------------*/
    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 15px;
    --border-standard: 3px solid var(--color-primary-white--border);

}

:root[future-theme="light"] {

    /**box-shadow*/
    --form-box-shadow-color--main: var(0, 0, 0, 0.30);
    --form-box-shadow-color--main-subtle: var(0, 0, 0, 0.10);
    --form-box-shadow-color--blue-accent: rgba(52, 152, 219, 0.7);
    --form-box-shadow-color--white-accent: rgba(255, 255, 255, 0.7);

    /**---------------[FONT]-------------*/

    /**color*/
    --selection-bg-text-color-darkBlue: #2C3E50;
    --selection-bg-text-color-lightBlue: #5A7692;
    --selection-bg-text-color-lightBlueShade: #6e7b8b;
    --selection-border-color--main: rgb(48, 72, 120);
    --selection-border-color--main--subtleTrans: rgba(48, 72, 120, 0.9);
    --selection-border-color--main--semiTans: rgba(48, 72, 120, 0.5);
    --selection-bg-mainContainer: rgba(255, 255, 255, 0.8);
    --selection-bg-mainContainer--trans: rgba(255, 255, 255, 0.7);


    /**size*/
    --selection-font-size-introText--h2---mobile: clamp(16px, 1.7vw, 1.2rem);
    --selection-font-size-introText--h2--Sub---mobile: clamp(14px, 1.4vw, 1rem);

    /**-----------[shadow]----------*/

    --selection-bg-text-shadow-blue-trans: rgba(21, 32, 54, 0.3);
    --selection-bg-text-shadow-blue-trans--Sub: rgba(21, 32, 54, 0.1);

    --selection-border-shadow--main--blueaccent: rgba(52, 152, 219, 0.7);

    /**box-shadow*/
    --form-box-shadow-main: 0px 4px 12px var(--form-box-shadow-color--main);
    --form-box-shadow-main--subtle: 0px 4px 12px var(--form-box-shadow-color--main-subtle);
    --form-box-shaduw--blueaccent: 0 0 18px 2px var(--form-box-shadow-color--blue-accent);
    --form-box-shaduw--blueaccent---border: 0 0 18px var(--form-box-shadow-color--blue-accent);
    --form-box-shadow-darkblue--inset: 0 0 20px 1px var(--selection-bg-text-color-lightBlueShade);


    /*
    /**heigt*/
    --selection-footer-h: clamp(44px, 8vh, 64px);
    /*min ideaal, max*/
    --selection-header-h: clamp(2rem, 7vh, 3rem);
    /*min ideaal, max*/

    /**padding*/
    --selection-introText-pad-y: clamp(1rem, 7vh, 1.5rem);
    --selection-introText-pad-x: clamp(0.7rem, 3vw, 1rem);
    --selection-footer-pad-y: 6px;
    --selection-footer-pad-y--landscape: 2px;
    --selection-mainContainer-pad: clamp(0.5rem, 5vh, 0.7rem) clamp(0.1rem, 5vw, 0.2rem);

    /**column-gap*/
    --selection-column-gap--main: clamp(1rem, 10vh, 1.5rem);
    --selection-column-gap--main---sm: clamp(var(--spacing-xs), 2vh, var(--spacing-sm));
    --selection-column-gap--main---md: clamp(var(--spacing-md), 5vh, var(--spacing-lg));


    /**dynamic heigt*/
    --vh: 100dvh;


}


:root[future-theme="dark"] {
    /** Tekst: helder en leesbaar, maar niet pijnlijk wit */
    --color-text-light: #F7FFF6;


    /** Containers: subtiel lichter voor een gelaagd effect */
    --selection-bg-mainContainer: rgba(58, 80, 120, 0.2);
    /* Transparante versie van --color-primary-light */

    /** Randen & Schaduwen: geen harde lijnen, maar een zachte 'gloed' */
    --selection-border-color--main: rgba(52, 152, 219, 0.7);
    /* Transparante versie van je accentkleur */

    /* Vertel de browser dat dit een dark scheme is */
    color-scheme: dark;
    --vh: 100dvh;
}


/** ---GLOBAL RESET--- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
    height: auto;

}


body {
    font-family: var(--font-main);
    background-color: var(--color-primary-dark);
    height: auto;
    color-scheme: light;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(92, 88, 88);
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-out, visibilty 0.5s ease-out;
}

.loading-screen--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader {
    border: 8px solid var(--color-primary-grey--border---light);
    border-top: 8px solid var(--color-accent-blue--bg);
    border-radius: 50%;
    display: flex;
    width: clamp(min(50px, 10vw), 50px, max(75px, 20vw));
    height: clamp(min(50px, 10vw), 50px, max(75px, 20vw));
    animation: spin 2s linear infinite;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/** --- UTILITY CLASSES --- */
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

